.a {
  display: flex;
  align-items: center;
  gap: 41px;
}
.a a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.48px;
  text-align: left;
}
.a1 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.a2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header {
  position: fixed;
  padding: 10px 0;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.2);
}
